{% set id = slug.split('-')[-1] %}

{% set notes = sql("""
    select * from note where id = :id
""", {"id": id}, database="notes")
%}
{% set note = notes[0] %}
{% if not notes %}
    {% set raised = raise_404("NOTE not found") %}
{% endif %}

{% set slugExpected = noteURLSlugWithTopic(note) %}

{% if (slugExpected != slug)  %}
{{ custom_redirect(SITE_ROOT() + noteURLPath(note), 301) }}
{% endif %}

{% extends "til_base.html" %}
{% block title %}{{ note.title }} | Kevin's Notes{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://notes.kevinslin.com/static/github-light.css">
<link rel="canonical" href="https://notes.kevinslin.com{{noteURLPath(note)}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@kevins8">
<meta name="twitter:title" content="{{ note.title }}">
<meta name="twitter:description" content="{{ note.body[:200] }}">
<meta name="twitter:image" content="https://ik.imagekit.io/fpjzhqpv1/image__Cup5oN8i.png?updatedAt=1744922118478">
<meta name="twitter:image:alt" content="Screenshot of this article">
<meta property="og:url" content="https://notes.kevinslin.com{{noteURLPath(note)}}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ note.title }}">
<meta property="og:description" content="{{ note.body[:200] }}">
<meta property="og:image" content="https://ik.imagekit.io/fpjzhqpv1/image__Cup5oN8i.png?updatedAt=1744922118478">
<meta property="og:image:alt" content="Screenshot of this article">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="400">
{% endblock %}

{% block body %}
<h1>{{ note.title }}</h1>

{{ note.html|safe }}

{% set related = related_tils(note) %}
{% if related %}
  <h3>Related</h3>
  <ul class="related">
    {% for note in related %}
    <li><span class="topic">{{ note.topic }}</span> <a href="{{noteURLPath(note)}}">{{ note.title }}</a> - {{ note.created[:10] }}</li>
    {% endfor %}
  </ul>
{% endif %}

<p class="created">Created {{ note.created }}{% if note.created != note.updated %}, updated {{ note.updated }} &middot; <a href="{{ note.url|replace("https://github.com/simonw/note/blob/", "https://github.com/simonw/note/commits/") }}">History</a>{% endif %} &middot; <a href="{{ note.url }}">Edit</a></p>
{% endblock %}
